* body {
    background: #DCE8F5;
    font-family: 'Lato', sans-serif;
  }
  
  h1 {
    color: #8291AC;
    font-size: 1.2rem;
  }
  
  .content {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  
  .wrapper {
    position: relative;
    width: 600px;
    margin: 80px auto;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 26px rgba(0, 0, 0, 0.13);
  }
  
  .registred {
    position: relative;
    width: 400px;
    height: 200px;
    background: #FFF;
    display: none;
    margin: 100px auto;
    text-align: center;
  }
  .registred button {
    width: 100px;
    background: #3FA6FD;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    position: absolute;
    bottom: 18px;
    right: 18px;
    color: #FFF;
  }
  .registred h1 {
    font-size: 1rem;
  }
  
  /* .login--content {
    display: none;
  } */
  .register--content {
    display: none;
  }
  
  .register--content, .login--content {
    width: 500px;
    margin: 100px auto;
  }
  
  .floating-label {
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 20px;
    font-size: 11px;
    color: #B3BBCE;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
  }
  
  .email, .password, .name {
    position: relative;
    margin: 20px 0;
  }
  
  .inputText {
    font-size: 12px;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #B3BBCE;
    outline: none;
    color: #9390A1;
    font-weight: 900;
  }
  
  input:focus ~ .floating-label,
  input:not(:focus):valid ~ .floating-label {
    top: 2px;
    bottom: 10px;
    left: 0px;
    font-size: 11px;
    opacity: 1;
    color: #3FA6FD;
  }
  
  .social {
    width: 100%;
    background: #3B5999;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
  }
  .social a {
    text-decoration: none;
    color: #FFF;
  }
  .social span i {
    color: #fff;
    float: left;
    line-height: 45px;
    margin-left: 26px;
  }
  
  .via-email {
    text-align: center;
    padding: 20px 0;
    color: #8291AC;
  }
  
  input[type="button"] {
    width: 100%;
    position: relative;
    height: 50px;
    background-color: #3FA6FD;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 24px 0 16px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    font-weight: 100;
  }
  
  .login--button {
    position: absolute;
    top: -30px;
    right: 0;
  }
  .login--button a {
    background: #3FA6FD;
    padding: 7px 14px;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
  }